@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Regular.eot');
    src: url('../fonts/Onest-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Onest-Regular.woff2') format('woff2'),
        url('../fonts/Onest-Regular.woff') format('woff'),
        url('../fonts/Onest-Regular.ttf') format('truetype'),
        url('../fonts/Onest-Regular.svg#Onest-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Medium.eot');
    src: url('../fonts/Onest-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Onest-Medium.woff2') format('woff2'),
        url('../fonts/Onest-Medium.woff') format('woff'),
        url('../fonts/Onest-Medium.ttf') format('truetype'),
        url('../fonts/Onest-Medium.svg#Onest-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

