h1, .h1,
h2, .h2 {
	font-family: $ff;
	font-weight: $fw-medium;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	color: $white;
	font-family: $ff;
	font-size: 32px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: 120%;
	text-align: center;

	@media all and (min-width: $md) {
		font-size: 52px;
	}

	@media all and (min-width: $xl) {
		text-align: left;
	}
}

h2, .h2 {
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr;

	&:hover {
		text-decoration: none
	}
}

p {
	margin-top: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-medium
}